EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCwj0BkykjVuy4i426e8ZJSKadcPAejhMw
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=furcare-hub.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=furcare-hub
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=furcare-hub.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=571081562366
EXPO_PUBLIC_FIREBASE_APP_ID=1:571081562366:web:5b487f7fcc0ba9c24aadaf
